        @font-face {
            font-family: 'Barlow Semi-Condensed';
            src: url(assets/fonts/BarlowSemiCondensed-Regular.ttf);
        }
        body{
            box-sizing: border-box;
            background-color: white;
            font-family: 'Barlow Semi-Condensed', sans-serif;
            display: flex;
            height: 100vh;
            margin: 0;
        }
        .container{
            display: flex;
            width: min(60rem, 80%);
            margin: auto;
        }
        .con1{
            display: flex;
        }
        .card{
            border-radius: 7px;
            box-shadow: 0px 50px 50px 0px rgb(0, 0, 0, 0.2);
        }
        .head{
            display: flex;
        }
        .head-content{
            margin-left: -10;
        }
        .name{
            margin-bottom: 0;
            font-size: 10px;
            font-weight: 550;
            margin-top: 20;
        }
        .grad{
            margin-top: 0;
            font-size: 11px;
        }
        #card1{
            background-color: hsl(263, 55%, 52%);
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 5px;
            padding-top: 5px;
            width: 50%;
            background-image: url(assets/images/bg-pattern-quotation.svg);
            background-position: top right;
            background-repeat: no-repeat;
        }
        #card1 img {
            border: 2px solid hsl(264, 82%, 80%);
        }
        #card1 div.head-content{
            color: hsl(214, 17%, 92%);
        }
        #card1 p.content-head{
            color: white;
            font-size: 20px;
            margin-top: 8;
            font-weight: 800;
        }
        #card1 p.content{
            color: hsl(214, 17%, 92%);
            font-size: 13px;
            font-weight: 550;
            line-height: 1.5;

        }
        #card2{
            background-color:  hsl(217, 19%, 35%);
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 5px;
            padding-top: 5px;
            width: 20%;
            margin-left: 20;
        }
        #card2 img {
            border: 2px solid hsl(260, 100%, 95%);
        }
        #card2 div.head-content{
            color: hsl(214, 17%, 92%);
            margin-bottom: 0;
        }
        #card2 p.content-head{
            margin-top: 8;
            color: white;
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 10;
        }
        #card2 p.content{
            color: hsl(214, 17%, 92%);
            font-size: 13px;
            line-height: 1.5;

        }
        #card3{
            background-color:  white;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 20;
            width: 20%;
        }
        #card3 div.head-content{
            color: black;
            margin-bottom: 0;
        }
        #card3 p.content-head{
            margin-top: 8;
            color: hsl(217, 19%, 35%);
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 10;
        }
        #card3 p.content{
            line-height: 1.5;
            color: hsl(217, 19%, 35%);
            font-size: 12px;
        }
        #card4{
            background-color: hsl(219, 29%, 14%);
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 5px;
            padding-top: 5px;
            width: 50%;
            margin-left: 20;
            margin-top: 20;
        }
        #card4 img {
            border: 2px solid hsl(263, 55%, 52%);
        }
        #card4 div.head-content{
            color: hsl(214, 17%, 92%);
        }
        #card4 p.content-head{
            color: white;
            font-size: 20px;
            margin-top: 8;
            font-weight: 600;
        }
        #card4 p.content{
            color: hsl(214, 17%, 92%);
            font-size: 12px;
            font-weight: 550;
            line-height: 1.5;

        }
        #card5{
            background-color:  white;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            padding-top: 10px;
            width: 50%;
            margin-left: -150;
        }
        #card5 div.head-content{
            color: hsl(0, 0%, 7%);
            margin-bottom: 0;
        }
        #card5 p.content-head{
            margin-top: 8;
            color: hsl(217, 19%, 35%);
            font-size: 16px;
            font-weight: 800;
            margin-bottom: 0;
        }
        #card5 p.content{
            color: hsl(217, 19%, 35%);
            font-size: 10.6px;
            line-height: 1.5;
        }
        img{
            margin-top: 15;
            width: 60%;
            border-radius: 50%;
        }
        @media screen and (max-width: 768px) {
            .container{
                display: inline;
                margin-top: 50;
            }
            .con1{
                display: inline;
                margin: auto;
            }
            #card1{
                background-color: hsl(263, 55%, 52%);
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 10px;
                padding-top: 10px;
                width: 80%;
                margin-bottom: 20;
                background-image: none;
            }
            #card1 p.content-head{
                font-size: 18px;
            }
            #card1 p.content{
                font-size: 10px;
            }
            #card2{
                background-color:  hsl(217, 19%, 35%);
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 10px;
                padding-top: 10px;
                width: 80%;
                margin-left: 0;
                margin-bottom: 20;
            }
            #card2 p.content-head{
                font-size: 17px;
            }
            #card2 p.content{
                font-size: 11px;
            }
            #card3{
                background-color:  white;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: 0;
                width: 80%;
                margin-bottom: 20;
            }
            #card3 p.content{
                font-size: 11px;
            }
            #card4{
                background-color: hsl(219, 29%, 14%);
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 10px;
                padding-top: 10px;
                width: 80%;
                margin-left: 0;
                margin-top: 0;
                margin-bottom: 20;
            }
            #card4 p.content-head{
                font-size: 18px;
            }
            #card4 p.content{
                font-size: 11px;
            }
            #card5{
                background-color:  white;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 10px;
                padding-top: 10px;
                margin: auto;
                width: 80%;
                margin-left: 0;
                margin-bottom: 50;
            }
            #card5 p.content-head{
                font-size: 18px;
            }
            #card5 p.content{
                font-size: 12px;
            }
        }